span {
  font-size: 15px;
  margin-left: 10px;
}

#header {
  padding-top: 26px;
  color: white;
}

#menu-item {
  padding-left: 30px;
  text-align: left;
}

#menu-item.filler-item {
  height: calc(100% - 292.56px);
}

#menu-item.account-item {
  height: ;
}


#menu-icon {
  float: left;
}

#side-menu {
  background-image: linear-gradient(#020303, #010101);
  background-color: #010101;
  width: 230px;
  z-index: 0;
  height: calc(100% - 90px)!important;


}
