.upload-page {
  height: 100%;
}

.form {
  display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  width: 100%;
  height: 100%;
}


.segment {
  width: 100%;
}

.list {
  width: 100%;
}

.upload-buttons {
  padding-top: 30px;
}
