#item-description {
  padding-left: 28px;
}

#song-menu-item {
  width: 95%;

}

#song-menu-item.music-menu-item-playing #music-menu-item-header{
  color: #fe7903;
}
#song-menu-item.music-menu-item-playing{
  background-color: rgba(0, 0, 0, 0.4);

}

#song-menu-item #music-note-icon{

}

#song-menu-item #music-menu-item-header .icon{
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

#song-menu-item #music-menu-item-header{
  display:flex;
  justify-content: space-between;
  height:20px;
}
#song-menu-item #music-menu-item-header .begin-menu{
  display:flex;
}

.add-playlist.edit-playlist div{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.add-playlist.edit-playlist span{
  width: 155px;
  height: 45px;
}
.add-playlist.edit-playlist button{
  color:white;
  margin: 10px;
  background-color: #fe7903;
  width: 150px;
  height: 39px;

}
.add-playlist.edit-playlist button:hover{
  background-color: #fe7903;
  color: white;
  width: 155px;
  height: 45px;
}

#song-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.4);

}

#song-duration {
  float:right;
  margin-bottom: 20px;
}

#song-options{
  float: right;
  padding-right: 30px;
  color: white!important;
}
#song-options:hover{
  font-size: 18px;
}
